@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

html,
body {
  @apply bg-base-100 text-base-content min-h-screen;
}

* {
  @apply transition-colors duration-200;
}

header {
  @apply flex items-center p-4 justify-between;
  border: 3px solid;
}

header img {
  @apply h-20 w-20;
}

header h1 {
  @apply text-6xl text-center flex-1;
  font-family: 'Grand Hotel', cursive;
  font-weight: 500;
}
